gencv.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<!ELEMENT selectedCV EMPTY>
<!ATTLIST selectedCV
	ids CDATA #REQUIRED
>
<!ELEMENT pnom (#PCDATA)>
<!ELEMENT phraseAccroche (#PCDATA)>
<!ELEMENT permis EMPTY>
<!ATTLIST permis
	type CDATA #REQUIRED
>
<!ELEMENT obtenu (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT lieu (#PCDATA)>
<!ELEMENT langues ((langue+))>
<!ELEMENT langue EMPTY>
<!ATTLIST langue
	langName CDATA #REQUIRED
	luEcritParle CDATA #IMPLIED
>
<!ELEMENT intitule (#PCDATA)>
<!ELEMENT ident ((nom, pnom+, datenaiss, langues, permis))>
<!ELEMENT formations ((formation))>
<!ELEMENT formation ((anneeDeb, anneeFin, lieu, diplomes))>
<!ELEMENT experiences ((experience+))>
<!ELEMENT experience ((anneeDeb, anneeFin, ets, etsCmpl, intitule))>
<!ELEMENT etsCmpl (#PCDATA)>
<!ELEMENT ets (#PCDATA)>
<!ELEMENT diplomes ((diplome+))>
<!ELEMENT diplome ((intitule, obtenu))>
<!ELEMENT datenaiss (#PCDATA)>
<!ELEMENT cvs ((bestCV, selectedCV, cv+))>
<!ELEMENT cv ((ident, phraseAccroche, formations, experiences))>
<!ATTLIST cv
	idcv CDATA #REQUIRED
>
<!ELEMENT bestCV EMPTY>
<!ATTLIST bestCV
	id CDATA #REQUIRED
>
<!ELEMENT anneeFin (#PCDATA)>
<!ELEMENT anneeDeb (#PCDATA)>
