genCV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿champix (champix) -->
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="selectedCV">
		<xs:attribute name="ids" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="selectedCV" type="selectedCV"/>
	<xs:complexType name="pnom" mixed="true"/>
	<xs:element name="pnom" type="pnom"/>
	<xs:complexType name="phraseAccroche" mixed="true"/>
	<xs:element name="phraseAccroche" type="phraseAccroche"/>
	<xs:complexType name="permis">
		<xs:attribute name="type" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="permis" type="permis"/>
	<xs:complexType name="obtenu" mixed="true"/>
	<xs:element name="obtenu" type="obtenu"/>
	<xs:complexType name="nom" mixed="true"/>
	<xs:element name="nom" type="nom"/>
	<xs:complexType name="lieu" mixed="true"/>
	<xs:element name="lieu" type="lieu"/>
	<xs:complexType name="langues">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="langue" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="langues" type="langues"/>
	<xs:complexType name="langue">
		<xs:attribute name="langName" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="luEcritParle" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="langue" type="langue"/>
	<xs:complexType name="intitule" mixed="true"/>
	<xs:element name="intitule" type="intitule"/>
	<xs:complexType name="ident">
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="nom"/>
				<xs:element ref="pnom" maxOccurs="unbounded"/>
				<xs:element ref="datenaiss"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ident" type="ident"/>
	<xs:complexType name="formations">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="formation" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="formations" type="formations"/>
	<xs:complexType name="formation">
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="anneeDeb"/>
				<xs:element ref="anneeFin"/>
				<xs:element ref="lieu"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="formation" type="formation"/>
	<xs:complexType name="experiences">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="experience" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="experiences" type="experiences"/>
	<xs:complexType name="experience">
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="anneeDeb"/>
				<xs:element ref="anneeFin"/>
				<xs:element ref="ets"/>
				<xs:element ref="etsCmpl"/>
				<xs:element ref="intitule"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="experience" type="experience"/>
	<xs:complexType name="etsCmpl" mixed="true"/>
	<xs:element name="etsCmpl" type="etsCmpl"/>
	<xs:complexType name="ets" mixed="true"/>
	<xs:element name="ets" type="ets"/>
	<xs:complexType name="diplomes">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="diplome" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="diplomes" type="diplomes"/>
	<xs:complexType name="diplome">
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="intitule"/>
				<xs:element ref="obtenu"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="diplome" type="diplome"/>
	<xs:complexType name="datenaiss" mixed="true"/>
	<xs:element name="datenaiss" type="datenaiss"/>
	<xs:complexType name="cvs">
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="cv" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="cvs" type="cvs"/>
	<xs:complexType name="cv">
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="ident"/>
				<xs:element ref="formations"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="idcv" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:element name="cv" type="cv"/>
	<xs:complexType name="bestCV">
		<xs:attribute name="id" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="bestCV" type="bestCV"/>
	<xs:complexType name="anneeFin" mixed="true"/>
	<xs:element name="anneeFin" type="anneeFin"/>
	<xs:complexType name="anneeDeb" mixed="true"/>
	<xs:element name="anneeDeb" type="anneeDeb"/>
</xs:schema>
