genphoto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="T_photos">
		<xs:sequence>
			<xs:element ref="titre"/>
			<xs:element ref="couv"/>
			<xs:element ref="pages"/>
			<xs:element ref="signature"/>
		</xs:sequence>
		<xs:attribute ref="theme" use="required"/>
		<xs:attribute ref="intercal" use="required"/>
		<xs:attribute ref="OnlyComment" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_pages">
		<xs:sequence>
			<xs:element ref="page" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="titre" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_page">
		<xs:sequence>
			<xs:element ref="image" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_image">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="path" use="required"/>
				<xs:attribute ref="href" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_couv">
		<xs:sequence>
			<xs:element ref="image"/>
		</xs:sequence>
	</xs:complexType>
	<xs:attribute name="titre" type="xs:boolean"/>
	<xs:attribute name="theme" type="xs:string"/>
	<xs:attribute name="path" type="xs:string"/>
	<xs:attribute name="intercal" type="xs:boolean"/>
	<xs:attribute name="href" type="xs:string"/>
	<xs:attribute name="OnlyComment" type="xs:boolean"/>
	<xs:element name="titre" type="xs:string"/>
	<xs:element name="signature" type="xs:string"/>
	<xs:element name="photos" type="T_photos"/>
	<xs:element name="pages" type="T_pages"/>
	<xs:element name="page" type="T_page"/>
	<xs:element name="image" type="T_image"/>
	<xs:element name="couv" type="T_couv"/>
</xs:schema>
